@{
  Layout = "_Layout";
}

<form action="/car-form" method="post">
   <label for="color">Color</label>
  <input id="color" name="color" type="text" value="color">

  <label for="makeModel">Make Model</label>
  <input id="makeModel" name="makeModel" type="text" value="make/model">

  <label for="miles">Miles</label>
  <input id="miles" name="miles" type="text" value="300000">

  <label for="price">Price</label>
  <input id="price" name="price" type="text" value="3000">
  <button type="submit">Submit</button>
</form>