@{
  Layout = "_Layout";
}

<form action="/Car" method="post">
   <label for="color">Color</label>
  <input id="color" name="color" type="text">

  <label for="makeModel">Make Model</label>
  <input id="makeModel" name="makeModel" type="text">

  <label for="miles">Miles</label>
  <input id="miles" name="miles" type="text">

  <label for="price">Price</label>
  <input id="price" name="price" type="text">
  <button type="submit">Submit</button>
</form>